# flyctl launch added from .gitignore
# Python
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.venv
**/venv
**/.env
**/.env.*

# Flask/instance
**/instance
**/app.db
**/*.db
**/*.sqlite*
**/uploads

# macOS
**/.DS_Store

# Git
.git
.gitignore
.github

# VS Code
**/.vscode

# Frontend / test artifacts
**/node_modules
**/cypress/screenshots
**/cypress/videos

fly.toml
